<% layout ('layouts/boilerplate') %>
<%- include ('../partials/navbar') %>



<% for (let item of user.cart) { %>
    <div class="card mx-auto mb-3 mt-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%=item.img%>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%=item.name%></h5>
              <p class="card-text"><%=item.price%></p>
              <p class="card-text"><small class="text-body-secondary"><%=item.desc%></small></p>
              <button type="submit" class="btn btn-small btn-danger" >Remove</button>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <div class="card mx-auto mb-3 mt-3" style="max-width: 900px;">
        <ul class="list-group">
            <% for(let item of user.cart) {%>
                <li class="list-group-item"><span class="fw-bold"><%=item.name%> - </span>$ <%=item.price%> <span></span></li>
            <% } %> 
            <li class="list-group-item fw-bold">Total Amount : $ <%=totalAmount%></li>
        </ul>

        <form action="/payment_gateway/payumoney" method="POST">
          <input type="hidden" name="amount" value="<%=totalAmount%>"/>
          <input type="hidden" name="phone" value="9999999999" />
          <input type="hidden" name="service_provider" 
           value="payu_paisa"/>
          <input type="hidden" class="product" name="productinfo" 
           value="<%=productInfo%>"/>
           
           <button type="submit" class="btn btn-sm btn-primary my-3" >Checkout!</button>
           <!-- <input type="submit" value="Pay"/> -->
          </form>

    </div>


</body>
</html>